cfs-set-X-SCUs/template.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "Set X SCUs for Security Copilot",
        "description":  "This Logic App sets the specified number of Security Compute Units (SCUs) for Security Copilot, but only if the current day is a working day. The number of desired SCUs is specified in the Logic App parameters. If the capacity already exists, the Logic App modifies its capacity - again, only during working days - according to the number of SCUs specified as a parameter. If the specified number of SCUs is zero, the Logic App deletes the capacity regardless of the day. Working days are defined by excluding non-working weekdays and listing national and local holidays.",
        "prerequisites":  "Credit in Azure for consuming SCUs",
        "postDeployment":  [
            "1. Assign to the Managed Identity of the Logic App the Contributor role on the Resource Group where the Capacity has to be created or modified.",
            "2. Set the desired recurrence (tipically every day at specified hours)",
            "3. Set the Logic App paramters (SCU number, capacity name, etc...)",
            "4. In the initial action titled 'Initialize National Holidays,' change the content of the array to include the list of national and local holidays for your specific country",
            "5. Enable the Logic App"
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  "Stefano Pescosolido (https://www.linkedin.com/in/stefanopescosolido/)"
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "cfs-set-X-SCUs",
            "type":  "string"
        },
        "NumberOfSCUs":  {
            "type":  "Int",
            "metadata":  {
                "description":  "Enter the number of SCUs that should be set by each execution of this Logic App. You can modify it later in the Logic App parameters list."
            },
            "defaultValue": 1
        },
        "CrossGeoCompute":  {
            "type":  "String",
            "metadata":  {
                "description":  "Specify if cross-geo compute for Security Copilot is allowed (set 'allowed' or 'NotAllowed'). You can modify it later in the Logic App parameters list."
            },
            "defaultValue": "Allowed"
        },
        "Geo":  {
            "type":  "String",
            "metadata":  {
                "description":  "Set the desired geo for Security Copilot: ANZ, EU, UK, US (check the documentation for additional geos in the future). You can modify it later in the Logic App parameters list."
            },
            "defaultValue": "EU"
        },
        "Location":  {
            "type":  "String",
            "metadata":  {
                "description":  "Set the desired location for Security Copilot: australiaeast, eastus, uksouth, westeurope (check the documentation for additional locations in the future). You can modify it later in the Logic App parameters list."
            },
            "defaultValue": "westeurope"
        },
        "CapacityName":  {
            "type":  "String",
            "metadata":  {
                "description":  "Set the name of the capacity for Security Copilot that will be created or modified or deleted by each execution of this Logic App. You can modify it later in the Logic App parameters list."
            },
            "defaultValue": "CfSCapacity"
        },
        "ResourceGroup":  {
            "type":  "String",
            "metadata":  {
                "description":  "Set the name of the Resource Group where this Logic App will create or modify or delete the capacity for Security Copilot. You can modify it later in the Logic App parameters list."
            },
            "defaultValue": "CfSCapacity-RG"
        }
    },
    "variables":  {
        "ArmConnectionName":  "[concat('Arm-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Disabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        },
                        "NumberOfSCUs":  {
                            "defaultValue":  "[parameters('NumberOfSCUs')]",
                            "type":  "Int"
                        },
                        "CrossGeoCompute":  {
                            "defaultValue":  "[parameters('CrossGeoCompute')]",
                            "type":  "String"
                        },
                        "Geo":  {
                            "defaultValue":  "[parameters('Geo')]",
                            "type":  "String"
                        },
                        "CapacityName":  {
                            "defaultValue":  "[parameters('CapacityName')]",
                            "type":  "String"
                        },
                        "ResourceGroup":  {
                            "defaultValue":  "[parameters('ResourceGroup')]",
                            "type":  "String"
                        },
                        "Location":  {
                            "defaultValue":  "[parameters('Location')]",
                            "type":  "String"
                        },
                        "$SubscriptionID":  {
                            "defaultValue":  "[subscription().subscriptionId]",
                            "type":  "String"
                        }
                    },
                    "triggers":  {
                        "Recurrence":  {
                            "recurrence":  {
                                "interval":  1,
                                "frequency":  "Day",
                                "timeZone":  "W. Europe Standard Time",
                                "schedule":  {
                                    "hours":  [
                                        "19"
                                    ]
                                }
                            },
                            "evaluatedRecurrence":  {
                                "interval":  1,
                                "frequency":  "Day",
                                "timeZone":  "W. Europe Standard Time",
                                "schedule":  {
                                    "hours":  [
                                        "19"
                                    ]
                                }
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "Initialize_National_Holidays":  {
                            "runAfter":  {
                                "Initialize_Today":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Holidays",
                                        "type":  "array",
                                        "value":  "@createArray('2026-01-01', '2026-01-06', '2026-04-05', '2026-04-06', '2026-04-25', '2026-05-01', '2026-06-02', '2026-08-15', '2026-11-01', '2026-12-08', '2026-12-25', '2026-12-26', '2027-01-01', '2027-01-06', '2027-03-28', '2027-03-29', '2027-04-25', '2027-05-01', '2027-06-02', '2027-08-15', '2027-11-01', '2027-12-08', '2027-12-25', '2027-12-26')"
                                    }
                                ]
                            }
                        },
                        "Initialize_IsTodayHoliday":  {
                            "runAfter":  {
                                "Initialize_National_Holidays":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "IsTodayHoliday",
                                        "type":  "boolean",
                                        "value":  false
                                    }
                                ]
                            }
                        },
                        "Initialize_Today":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Today",
                                        "type":  "string",
                                        "value":  "@{formatDateTime(startOfDay(utcNow()),'yyyy-MM-dd')}"
                                    }
                                ]
                            }
                        },
                        "Condition_Is_Create_or_Update_Capacity":  {
                            "actions":  {
                                "Condition_Is_Today_National_Holiday":  {
                                    "actions":  {
                                        "Set_IsTodayHoliday":  {
                                            "type":  "SetVariable",
                                            "inputs":  {
                                                "name":  "IsTodayHoliday",
                                                "value":  true
                                            }
                                        }
                                    },
                                    "else":  {
                                        "actions":  {
                                        }
                                    },
                                    "expression":  {
                                        "and":  [
                                            {
                                                "contains":  [
                                                    "@variables('Holidays')",
                                                    "@variables('Today')"
                                                ]
                                            }
                                        ]
                                    },
                                    "type":  "If"
                                },
                                "Condition_Is_Working_Day":  {
                                    "actions":  {
                                        "Create_or_Update_Capacity":  {
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['arm']['connectionId']"
                                                    }
                                                },
                                                "method":  "put",
                                                "body":  {
                                                    "location":  "@parameters('Location')",
                                                    "properties":  {
                                                        "numberOfUnits":  "@parameters('NumberOfSCUs')",
                                                        "crossGeoCompute":  "@{parameters('CrossGeoCompute')}",
                                                        "geo":  "@{parameters('Geo')}"
                                                    }
                                                },
                                                "path":  "/subscriptions/@{encodeURIComponent(parameters('$SubscriptionID'))}/resourcegroups/@{encodeURIComponent(parameters('ResourceGroup'))}/providers/@{encodeURIComponent('Microsoft.SecurityCopilot')}/@{encodeURIComponent('capacities/',parameters('CapacityName'))}",
                                                "queries":  {
                                                    "x-ms-api-version":  "2023-12-01-preview"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter":  {
                                        "Condition_Is_Today_National_Holiday":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "else":  {
                                        "actions":  {
                                        }
                                    },
                                    "expression":  {
                                        "and":  [
                                            {
                                                "not":  {
                                                    "equals":  [
                                                        "@variables('DayOfTheWeek')",
                                                        0
                                                    ]
                                                }
                                            },
                                            {
                                                "not":  {
                                                    "equals":  [
                                                        "@variables('DayOfTheWeek')",
                                                        6
                                                    ]
                                                }
                                            },
                                            {
                                                "equals":  [
                                                    "@variables('IsTodayHoliday')",
                                                    "@false"
                                                ]
                                            }
                                        ]
                                    },
                                    "type":  "If"
                                }
                            },
                            "runAfter":  {
                                "Initialize_DayOfTheWeek":  [
                                    "Succeeded"
                                ]
                            },
                            "else":  {
                                "actions":  {
                                    "Delete_Capacity":  {
                                        "type":  "ApiConnection",
                                        "inputs":  {
                                            "host":  {
                                                "connection":  {
                                                    "name":  "@parameters('$connections')['arm']['connectionId']"
                                                }
                                            },
                                            "method":  "delete",
                                            "path":  "/subscriptions/@{encodeURIComponent(parameters('$SubscriptionID'))}/resourcegroups/@{encodeURIComponent(parameters('ResourceGroup'))}/providers/@{encodeURIComponent('Microsoft.SecurityCopilot')}/@{encodeURIComponent('capacities/',parameters('CapacityName'))}",
                                            "queries":  {
                                                "x-ms-api-version":  "2023-12-01-preview"
                                            }
                                        }
                                    }
                                }
                            },
                            "expression":  {
                                "and":  [
                                    {
                                        "not":  {
                                            "equals":  [
                                                "@parameters('NumberOfSCUs')",
                                                0
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type":  "If"
                        },
                        "Initialize_DayOfTheWeek":  {
                            "runAfter":  {
                                "Initialize_IsTodayHoliday":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "DayOfTheWeek",
                                        "type":  "integer",
                                        "value":  "@int(dayOfWeek(convertFromUtc(concat(variables('Today'),'T00:00:00.0000000Z'),'W. Europe Standard Time')))"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "arm":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('ArmConnectionName'))]",
                                "connectionName":  "[variables('ArmConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Arm')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "cfs-set-X-SCUs",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('ArmConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('ArmConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('ArmConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Arm')]"
                }
            }
        }
    ],
    "outputs": {
      "subscriptionIdOutput": {
        "type": "string",
        "value": "[subscription().subscriptionId]"
      }
    }
}
